.navbar {
    width: 100%; height: 50px; background: #06adca; color: rgb(11, 51, 18);
    
  }
  .navbar ul {
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .navbar ul li{
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
   }

   .belowbanner {
    width: 100%; background: #ab94df; color: rgb(206, 65, 65); 
    min-height: 768px;    
    display:flex;
       

 }
 .left-panel{
  width: 50%; background: #e1dfe7; color: rgb(61, 9, 104); 
  min-height: inherit;
  align-items: left;

}
.single-panel{
  width: 100%; background: #2c2347; color: rgb(170, 218, 216); 
  min-height: inherit;
  align-items: center;
}

.right-panel{
  width: 50%; background: #172838; color: rgb(206, 65, 65); 
  min-height: inherit;
  align-items: left;

}
.pagination li {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color .3s;
  list-style: none;
}